.fancybox-wrap,
.fancybox-skin,
.fancybox-outer,
.fancybox-inner,
.fancybox-image,
.fancybox-wrap iframe,
.fancybox-wrap object,
.fancybox-nav,
.fancybox-nav span,
.fancybox-tmp
{
	padding: 0;
	margin: 0;
	border: 0;
	outline: none;
	vertical-align: top;
}

.fancybox-wrap {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 8020;
}

.fancybox-skin {
	position: relative;
	background: #f9f9f9;
	color: #444;
	text-shadow: none;
	-webkit-border-radius: 4px;
	   -moz-border-radius: 4px;
	        border-radius: 4px;
}

.fancybox-opened {
	z-index: 8030;
}

.fancybox-opened .fancybox-skin {
	-webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
	   -moz-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
	        box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}

.fancybox-outer, .fancybox-inner {
	position: relative;
}

.fancybox-inner {
	overflow: hidden;
}

.fancybox-type-iframe .fancybox-inner {
	-webkit-overflow-scrolling: touch;
}

.fancybox-error {
	color: #444;
	font: 14px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
	margin: 0;
	padding: 15px;
	white-space: nowrap;
}

.fancybox-image, .fancybox-iframe {
	display: block;
	width: 100%;
	height: 100%;
}

.fancybox-image {
	max-width: 100%;
	max-height: 100%;
}


#fancybox-loading {
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -22px;
	margin-left: -22px;
	background-position: 0 -108px;
	opacity: 0.8;
	cursor: pointer;
	z-index: 8060;
}

#fancybox-loading div {
	width: 44px;
	height: 44px;
}

.fancybox-close {
	position: absolute;
	top: -18px;
	right: -18px;
	width: 36px;
	height: 36px;
	cursor: pointer;
	z-index: 8040;
}

.fancybox-nav {
	position: absolute;
	top: 0;
	width: 40%;
	height: 100%;
	cursor: pointer;
	text-decoration: none;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	z-index: 8040;
}

.fancybox-prev {
	left: 0;
}

.fancybox-next {
	right: 0;
}

.fancybox-nav span {
	position: absolute;
	top: 50%;
	width: 36px;
	height: 34px;
	margin-top: -18px;
	cursor: pointer;
	z-index: 8040;
	visibility: hidden;
}

.fancybox-prev span {
	left: 10px;
	background-position: 0 -36px;
}

.fancybox-next span {
	right: 10px;
	background-position: 0 -72px;
}

.fancybox-nav:hover span {
	visibility: visible;
}

.fancybox-tmp {
	position: absolute;
	top: -99999px;
	left: -99999px;
	visibility: hidden;
	max-width: 99999px;
	max-height: 99999px;
	overflow: visible !important;
}

/* Overlay helper */

.fancybox-lock {
    overflow: hidden !important;
    width: auto;
}

.fancybox-lock body {
    overflow: hidden !important;
}

.fancybox-lock-test {
    overflow-y: hidden !important;
}

.fancybox-overlay {
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
	display: none;
	z-index: 8010;
}

.fancybox-overlay-fixed {
	position: fixed;
	bottom: 0;
	right: 0;
}

.fancybox-lock .fancybox-overlay {
	overflow: auto;
	overflow-y: scroll;
}

/* Title helper */

.fancybox-title {
	visibility: hidden;
	font: normal 13px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
	position: relative;
	text-shadow: none;
	z-index: 8050;
}

.fancybox-opened .fancybox-title {
	visibility: visible;
}

.fancybox-title-float-wrap {
	position: absolute;
	bottom: 0;
	right: 50%;
	margin-bottom: -35px;
	z-index: 8050;
	text-align: center;
}

.fancybox-title-float-wrap .child {
	display: inline-block;
	margin-right: -100%;
	padding: 2px 20px;
	background: transparent; /* Fallback for web browsers that doesn't support RGBa */
	background: rgba(0, 0, 0, 0.8);
	-webkit-border-radius: 15px;
	   -moz-border-radius: 15px;
	        border-radius: 15px;
	text-shadow: 0 1px 2px #222;
	color: #FFF;
	font-weight: bold;
	line-height: 24px;
	white-space: nowrap;
}

.fancybox-title-outside-wrap {
	position: relative;
	margin-top: 10px;
	color: #fff;
}

.fancybox-title-inside-wrap {
	padding-top: 10px;
}

.fancybox-title-over-wrap {
	position: absolute;
	bottom: 0;
	left: 0;
	color: #fff;
	padding: 10px;
	background: #000;
	background: rgba(0, 0, 0, .8);
}

/*Retina graphics!*/
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
	   only screen and (min--moz-device-pixel-ratio: 1.5),
	   only screen and (min-device-pixel-ratio: 1.5){

	#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
		/* background-image: url('../images/fancybox_sprite@2x.png'); */
		background-size: 44px 152px; /*The size of the normal image, half the size of the hi-res image*/
	}

	#fancybox-loading div {
		/* background-image: url('../images/fancybox_loading@2x.gif'); */
		background-size: 24px 24px; /*The size of the normal image, half the size of the hi-res image*/
	}
}

a {
  text-decoration: none;
  color: #f78e21;
}

a:hover {
  text-decoration: none;
  color: #f78e21;
}

.blue {
	color: #09F;
}

.green {
	color: #0A0;
}

p {
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  color: #666;
}

.heading-section {
  text-align: center;
  padding: 100px 0 80px 0;
}

.heading-section h2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  color: #333;
  font-weight: 700;
  text-transform: uppercase;
}

*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
 }


.space30 {
	margin-bottom: 30px;
}

.space50 {
	margin-bottom: 50px;
}


/*-- Header --*/
#top-header {
  background-color: #333;
  color: #fff;
}

.home-account a {
  display: inline-block;
  margin-right: 15px;
  padding: 10px 0;
  font-size: 13px;
  font-family: 'Open Sans', sans-serif;
}

.cart-info {
  text-align: right;
  padding: 8px 0;
  font-size: 13px;
  font-family: 'Open Sans', sans-serif;
}

.logo {
  padding: 20px 0;
}

.main-menu ul {
  padding: 0px;
  margin: 0px;
  text-align: center;
}

.main-menu li {
  list-style: none;
  display: inline-block;
    padding: 40px 0;
}

.main-menu a {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 14px;
  color: #444;
  text-transform: uppercase;
  margin-right: 35px;
}

.main-menu a:hover {
  color: #f78e21;
}

.search-box {
  text-align: right;
  margin-top: 33px;
  position: relative;
}

.search-box input {
  margin-top: 0px;
}

.search-box input[type="submit"] {
  background-color: transparent;
  position: absolute;
  width: 34px;
  height: 34px;
  right: 0;
  top: 0;
  border: 0;
  content: '';
  color: transparent;
  /* background: url(../images/search-icon.png); */
  background-position: center;
  background-repeat: no-repeat;
}

.search-box input#s {
  padding: 4px 10px 4px 10px;
  height: 34px;
  line-height: 34px;
  outline: 0;
  border: 1px solid #ddd;
}

#heading h2 {
  font-size: 36px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
}

#heading span {
  color: #fff;
  text-transform: uppercase;
}

.heading-content {
  text-align: center;
  margin-top: 35px;
}

/*-- End Heading --*/




/*-- Timeline --*/

.timeline-thumb {
  position: relative;
  text-align: center;
  border-bottom: 3px solid #dbdbdb;
}

.timeline-thumb:hover {
  border-color: #f78e21;
}

.timeline-thumb .thumb img {
  width: 100%;
  overflow: hidden;
}
.timeline-thumb .overlay {
  background-color: rgba(0,0,0, 0.7);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  opacity: 0;
}

.timeline-thumb:hover .overlay {
 visibility: visible;
 overflow: hidden;
 opacity: 1;
 cursor: pointer;
}

.timeline-caption h4 {
  padding-top: 80px;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 700;
  color: #fff;
  margin: 0 0 3px 0;
}

.timeline-caption p {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 300;
  color: #f78e21;
}

/*-- End Timeline --*/




/*-- Our Team --*/

.team-thumb {
  position: relative;
  text-align: center;
}

.team-thumb .author img {
  width: 100%;
}

.team-thumb .overlay {
  background-color: rgba(0,0,0, 0.7);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  visibility: hidden;
  opacity: 0;
}

.team-thumb:hover .overlay {
 visibility: visible;
 opacity: 1;
 cursor: pointer;
}

.author-caption ul {
  padding: 0;
  margin: 0;
}

.author-caption li {
  list-style: none;
  display: inline-block;
  margin-top: 40%;
}

.author-caption a {
  display: inline-block;
  background-color: rgba(250,250,250, 0.4);
  width: 34px;
  height: 34px;
  line-height: 34px;
  color: #fff;
}

.author-caption a:hover {
  background-color: #f78e21;
  color: #fff;
}

.author-details {
  margin-top: 15px;
  text-align: center;
}

.author-details h2 {
  display: block;
  margin-bottom: 0px;
  font-size: 16px;
  font-weight: 700;
  color: #333;
  text-transform: uppercase;
}

.author-details span {
  color: #f78e21;
  text-transform: uppercase;
}

/*-- End Our Team --*/




/*-- Products --*/

#product-heading {
  text-align: center;
  padding: 100px 0 30px 0;
}

#product-heading h2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  color: #333;
  font-weight: 700;
  text-transform: uppercase;
}

#Container {
  margin-top: 80px;
}

#Container .mix {
  display: none;
}

.portfolio-wrapper {
  overflow: hidden;
  padding-top: 20px;
}


#filters {
  text-align: center;
}

#filters ul {
  margin: 0px;
  padding: 0px;
}

#filters li {
  cursor: pointer;
  list-style: none;
  display: inline-block;
}

#filters span {
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 300;
  color: #444;
  padding-left: 15px;
}


#filters span:hover {
  color: #f78e21;
  transition: all 0.3s ease-in;
}

.label-text a {
  color: #333;
}

.label-text a:hover {
  color: #f78e21;
}

.label-text h3 {
  margin: 10px 0 2px 0;
  font-size: 16px;
  font-weight: 700;
  color: #333;
  text-transform: uppercase;
}

.label-text span {
  color: #777;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  display: block;
  color: #f78e21
}

.portfolio-thumb img {
  width: 100%;
}

.portfolio-thumb {
  position: relative;
}

.hover-iner {
  position: relative;
  width: 100%;
  height: 100%;
}

.hover-iner a {
  position: absolute;
  top: 35%;
  left: 43%;
  margin-left: -18px;
  margin-top: -18px;
  background-color: rgba(0,0,0, 0.1);
  border: 1px solid #f78e21;
  width: 80px;
  height: 80px;
  line-height: 80px;
  color: #fff;
  text-align: center;
}

.hover-iner img {
  width: auto;
}

.hover-iner span {
  position: absolute;
  text-transform: uppercase;
  color: #fff;
  margin-top: 190px;
  text-align: center;
  font-size: 13px;
  width: 100%;
  color: #f78e21;
  font-weight: 300;
}

.hover {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  visibility: hidden;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

.portfolio-wrapper:hover .portfolio-thumb .hover {
  visibility: visible;
  opacity: 1;
  transition: all 0.3s ease-in;
}

.pagination {
  margin-top: 60px;
}

.pagination ul {
  padding: 0;
  margin: 0;
}
.pagination li {
  list-style: none;
  display: inline-block;
}

.pagination a {
  background-color: #444;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  display: block;
  text-align: center;
}

.pagination a:hover {
  background-color: #f78e21;
}

/*- End Products --*/


/*-- Single Post --*/

.image-post {
  overflow: hidden;
}

.product-title h3 {
  font-size: 16px;
  font-weight: 700;
  color: #333;
  display: inline-block;
  margin-right: 20px;
  border-right: 1px solid #ddd;
  padding-right: 20px;
}

.product-title span {
  display: inline-block;
  font-size: 13px;
  color: #f78e21;
} 

.product-content a {
  font-weight: 700;
  font-size: 13px;
}

.product-content p {
  margin-top: 5px;
  padding-bottom: 15px;
}

.comment-section h4 {
  margin-top: 30px;
  font-size: 16px;
  color: #666;
  font-weight: 700;
  text-transform: uppercase;
}

.all-comments {
  margin-top: 40px;
  margin-bottom: 40px;
}

.comments {
  margin-top: 30px;
}

.author-thumb {
  float: left;
  margin-right: 30px;
}

.comment-body {
  background-color: #f3f3f3;
  padding: 20px;
  overflow: hidden;
  position: relative;
}

.comment-body h6 {
  font-size: 16px;
  font-weight: 700;
  color: #333;
  text-transform: uppercase;
  margin-bottom: 5px;
  margin-top: 0px;
}

.comment-body span {
  font-size: 14px;
  color: #f78e21;
}

.comment-body p {
  margin-top: 20px;
}

.comment-body a {
  text-transform: uppercase;
  font-size: 14px;
  color: #fff;
  background-color: #f78e21;
  width: 80px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  display: inline-block;
  position: absolute;
  top: 20px;
  right: 20px;
}

.replyed-form {
  margin-left: 130px;
}

.leave-comment h4 {
  margin-top: 30px;
  padding-bottom: 10px;
  font-size: 16px;
  color: #666;
  font-weight: 700;
  text-transform: uppercase;
}

input, textarea {
  padding: 10px;
  border: 1px solid #e2e2e2;
  width: 100%;
  margin-top: 25px;
  font-size: 13px;
  font-style: italic;
  font-weight: 300;
  color: #aaa;
  outline: none; 
}

textarea {
  height: 165px;
  max-height: 180px;
  max-width: 770px;
  line-height: 18px;
  width: 100%
}

.form label {
  margin-left: 10px;
  color: #999999;
}

.send button {
  width: 90px;
  color: #fff;
  cursor: pointer;
  height: 35px;
  line-height: 30px;
  text-align: center;
  background-color: #f78e21; 
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  text-transform: uppercase;
  border: 0;
  outline: none;
}

.leave input {
  width: 90px;
  cursor: pointer;
  height: 35px;
  line-height: 30px;
  text-align: center;
  background-color: #f78e21; 
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  text-transform: uppercase;
  border: 0;
}

/*-- End Single Post --*/




/*-- Contact Us --*/

.message-form input {
  margin-top: 0px;
}

.message-form  textarea {
  padding-bottom: 20px;
}

.send {
  margin-top: 20px;
}

.info p {
  padding-bottom: 20px;
}

.info ul {
  margin: 0;
  padding: 0;
}

.info li {
  list-style: none;
  margin: 10px 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  color: #666;
}

.info i {
  color: #f78e21;
  margin-right: 10px;
  font-size: 18px;
}

/*-- End Contact Us--*/




/*-- Side Bar --*/

.side-bar h4 {
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  background-color: #f78e21;
  margin-top: 0px;
  padding: 9px 15px 9px 15px;
}

.archives-list ul {
  margin-top: 25px !important;
  padding-bottom: 30px !important;
  margin: 0;
  padding: 0;
}

.archives-list li {
  list-style: none;
  margin: 10px 0;
}

.archives-list i {
  font-size: 16px;
  margin-right: 5px;
  color: #f78e21;
}

.archives-list a {
  text-transform: uppercase;
  color: #888;
  font-size: 13px;
}

.archives-list a:hover {
  color: #f78e21;
}

.recent-post {
  overflow: hidden;
  margin-bottom: 20px;
}

.recent-post-thumb {
  float: left;
  margin-right: 20px !important; 
  width: 70px;
  height: 70px;
}

.recent-post-info {
  overflow: hidden;
}

.recent-post-info h6 {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 0;
}

.posts {
  margin-top: 30px;
  margin-bottom: 30px;
}

.recent-post-info a {
  color: #333;
}

.recent-post-info a:hover {
  color: #f78e21;
}

.recent-post-info span {
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  color: #f78e21;
}

.flickr-images {
  margin-top: 20px;
}

.flickr-images img {
  margin-top: 20px;
  overflow: hidden !important;
  width: 68px;
}

.flickr-images img:hover {
  border: 3px solid #f78e21;
  transition: all 0.1s ease-in;
  cursor: pointer;
}

/*-- End Side Bar --*/





/*-- Slider --*/

#slider {
  overflow: hidden;
}

.slider-caption {
  text-align: center;
  position: absolute;
  width: 100%;
  margin-top: 160px;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
}

.slider-caption h1 {
  text-shadow: 1px 1px #777;
  font-size: 48px;
  padding-bottom: 10px;
  font-weight: 500;
  color: #f78e21;
  text-transform: uppercase;
}

.slider-caption p {
  font-size: 18px;
  font-weight: 300;
  color: #fff;
  line-height: 15px;
}

.slider-caption a {
  margin-top: 20px;
  text-decoration: none;
  display: inline-block;
  background-color: #f78e21;
  width: 200px;
  height: 40px;
  text-align: center;
  color: #fff;
  line-height: 40px;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 600;
}

/*-- End Slider --*/





/*-- Services --*/

.service-item {
  text-align: center;
}

.icon i {
  border-radius: 50%;
  border: 20px solid #f78e21;
  color: #f78e21;
  font-size: 28px;
  line-height: 80px;
  width: 120px;
  height: 120px;
}

.service-item h4 {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: #333;
  text-transform: uppercase;
  margin-top: 25px;
}

/*-- End Services --*/





/*-- Latest Posts --*/

.blog-post {
  position: relative;
  margin-bottom: 30px;
}

.blog-thumb {
  overflow: hidden;
  position: relative;
}

.blog-thumb img {
  width: 100%;
}

.blog-content {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0,0,0,0.7);
  color: #fff;
  padding: 15px;
}

.content-show a {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
}

.content-show span {
  color: #f78e21;
}

.content-hide {
  margin-top: 15px;
  display: none;
}

.content-hide p {
  color: #fff;
}

/*-- End Latest Posts --*/





/*-- Testimonails --*/

.testimonails-content p {
  text-align: center;
  font-size: 15px;
  color: #333;
  font-style: italic;
}

.testimonails-content h6 {
  font-size: 16px;
  font-weight: 300;
  text-align: center;
  margin-top: 30px;
  font-style: italic;
}

/*-- End Testimonails --*/





/*--Footer--*/

footer {
  background-color: #f3f3f3;
  border-top: 4px solid #f78e21;
  margin-top: 120px;
}

.social-bottom {
  margin-top: 40px;
  padding-bottom: 40px;
}

.social-bottom span {
  font-family: 'Open Sans', sans-serif;
  font-size: 22px;
  font-weight: 600;
  color: #333;
  text-transform: uppercase;
  float: left;
  margin-right: 26px;
}

.social-bottom ul {
  margin: 0;
  padding: 0;
}

.social-bottom li {
  list-style: none;
  display: inline-block;
}

.social-bottom a {
  background-color: #fff;
  font-size: 18px;
  width: 36px;
  height: 36px;
  line-height: 36px;
  text-align: center;
  color: #bbb;
}

.social-bottom a:hover {
  background-color: #f78e21;
  color: #fff;
}

.subscribe-form {
  margin-top: 40px;
  padding-bottom: 40px;
}

.subscribe-form span {
  font-family: 'Open Sans', sans-serif;
  font-size: 22px;
  font-weight: 600;
  color: #333;
  text-transform: uppercase;
  float: left;
  margin-right: 26px;
}

.subscribeForm {
  position: relative;
  display: inline-block;
}

.subscribe-form input[type="submit"] {
  position: absolute;
  right: 0;
  top: 0;
  width: 34px;
  height: 34px;
  /* background: url(../images/subscribe-icon.png); */
  background-repeat: no-repeat;
  background-position: center;
  color: transparent;
  background-color: transparent;
  content: '';
  margin-top: 0;
  border: 0;
}

.subscribe-form input#subscribe {
  padding: 4px 10px 4px 10px;
  line-height: 34px;
  height: 34px;
  max-width: 280px;
  width: 280px;
  margin-top: 0px;
  outline: 0;
  border-color: #f3f3f3;
}

.footer-title {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: #333;
  text-transform: uppercase;
  padding-bottom: 20px;
}

.shop-list ul {
  margin: 0;
  padding: 0;
}

.shop-list li {
  list-style: none;
  margin: 10px 0;
}

.shop-list i {
  font-size: 16px;
  margin-right: 5px;
  color: #f78e21;
}

.shop-list a {
  text-transform: uppercase;
  color: #888;
  font-size: 13px;
}

.shop-list a:hover {
  color: #f78e21;
}

.recent-post {
  overflow: hidden;
  margin-bottom: 20px;
}

.recent-post-thumb {
  float: left;
  margin-right: 10px;
  width: 70px;
  height: 70px;
}

.recent-post-info {
  overflow: hidden;
}

.recent-post-info h6 {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 0;
}

.recent-post-info a {
  color: #333;
}

.recent-post-info a:hover {
  color: #f78e21;
}

.recent-post-info span {
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  color: #f78e21;
}

.more-info p {
  padding-bottom: 20px;
}

.more-info ul {
  margin: 0;
  padding: 0;
}

.more-info li {
  list-style: none;
  margin: 10px 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  color: #666;
}

.more-info i {
  color: #f78e21;
  margin-right: 10px;
  font-size: 18px;
}

.bottom-footer {
  text-align: left;
  padding: 60px 0 15px 0;
}

/*-- End Footer --*/









/*--- RESPONSIVE ---*/

@media screen and (max-width: 990px) {

  .home-account {
    text-align: center;
    display: block;
  }

  .cart-info {
    text-align: center;
    display: block;
  }
  
  .logo {
    text-align: center;
  }

  .search-box {
    display: none;
  }

  .slider-caption {
    display: none;
  }

  .service-item {
    margin-top: 40px;
  }

  .footer-title {
    margin-top: 60px;
  }

  .bottom-footer {
    text-align: center;
  }

  .timeline-thumb{
    margin-top: 30px;
    border-bottom: none;
  }

  .team-thumb {
    margin-top: 30px;
  }

  .side-bar {
    margin-top: 100px;
  }

  .side-bar h4 {
    width: 100%;
  }

  .send-message input {
    margin-top: 20px;
  }

  .info {
    margin-top: 60px;
    text-align: center;
  }
}

@media screen and (max-width: 568px) {

  .home-account {
    text-align: center;
    display: block;
  }

  .cart-info {
    text-align: center;
    display: block;
  }
  
  .logo {
    text-align: center;
  }

  .search-box {
    display: none;
  }

  .content-hide p {
    display: none;
  }

  .slider-caption {
    display: none;
  }

  .service-item {
    margin-top: 40px;
  }

  .footer-title {
    margin-top: 60px;
  }

  .bottom-footer {
    text-align: center;
  }

  .timeline-thumb{
    margin-top: 30px;
    border-bottom: none;
  }

  .team-thumb {
    margin-top: 30px;
  }

  .side-bar {
    margin-top: 100px;
  }

  .side-bar h4 {
    width: 100%;
  }

  .send-message input {
    margin-top: 20px;
  }

  .info {
    margin-top: 60px;
    text-align: center;
  }

  .logo {
    padding-bottom: 60px;
  }

  .main-menu li {
    display: block;
    margin-top: -60px;
    margin-right: -35px;
  }

  #heading-section img {
    display: none;
  }

  .divide-line img {
    display: none;
  }

  .top-footer {
    display: none;
  }

}

@media screen and (max-width: 1000px) {

  .slider-caption {
    display: none;
  }
}

@media screen and (max-width: 600px) {

  .heading-section img {
    display: none;
  }

  body {
    overflow-x: hidden;
  }
}

@media screen and (min-width: 995px) {

  .hover-iner span {
  margin-top: 160px;
  }

  body {
    overflow-x: hidden;
  }
}

/*--- END RESPONSIVE ---*/

.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus  {outline: none;}
.slides,
.flex-control-nav,
.flex-direction-nav {margin: 0; padding: 0; list-style: none;}

/* Icon Fonts
*********************************/
/* Font-face Icons */
/* @font-face {
	font-family: 'flexslider-icon';
	/* src:url('fonts/flexslider-icon.eot'); */
	/* src:url('fonts/flexslider-icon.eot?#iefix') format('embedded-opentype'), */
		/* url('fonts/flexslider-icon.woff') format('woff'),
		url('fonts/flexslider-icon.ttf') format('truetype'),
		url('fonts/flexslider-icon.svg#flexslider-icon') format('svg'); */
	/* font-weight: normal;
	font-style: normal; */

/* FlexSlider Necessary Styles
*********************************/
.flexslider { overflow: hidden; margin: 0; padding: 0;}
.flexslider .slides img {width: 100%; display: block;}
.flex-pauseplay span {text-transform: capitalize;}

/* Clearfix for the .slides element */
.slides:after {content: "\0020"; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;}
html[xmlns] .slides {display: block;}
* html .slides {height: 1%;}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {display: block;}

/* FlexSlider Default Theme
*********************************/
.flexslider { position: relative; zoom: 1; max-height:  600px; }
.flex-viewport { max-height: 2000px; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; -o-transition: all 1s ease; transition: all 1s ease; }
.loading .flex-viewport { max-height: 300px; }
.flexslider .slides { zoom: 1; }
.carousel li { margin-right: 5px; }

/* Direction Nav */
.flex-direction-nav {*height: 0;}
.flex-direction-nav a  { text-align: center; display: block; border: 1px solid #fff; width: 40px; height: 40px; line-height: 40px; color: #fff; margin: -20px 0 0; position: absolute; top: 50%; z-index: 10; overflow: hidden; opacity: 0; cursor: pointer; -webkit-transition: all .3s ease; -moz-transition: all .3s ease; transition: all .3s ease; }
.flex-direction-nav .flex-prev { left: -50px; }
.flex-direction-nav .flex-next { right: -50px; }
.flexslider:hover .flex-prev { opacity: 1; left: 50px; }
.flexslider:hover .flex-next { opacity: 1; right: 50px; }
.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover { opacity: 1; }
.flex-direction-nav .flex-disabled { opacity: 0!important; filter:alpha(opacity=0); cursor: default; }
.flex-direction-nav a:before  {font-family: 'FontAwesome'; font-size: 32px; display: inline-block; content: '\f104'; }
.flex-direction-nav a.flex-next:before  { content: '\f105'; }

/* Pause/Play */
.flex-pauseplay a { display: block; width: 20px; height: 20px; position: absolute; bottom: 5px; left: 10px; opacity: 0.8; z-index: 10; overflow: hidden; cursor: pointer; color: #000; }
.flex-pauseplay a:before  { font-size: 20px; display: inline-block; content: '\f004'; }
.flex-pauseplay a:hover  { opacity: 1; }
.flex-pauseplay a.flex-play:before { content: '\f003'; }

/* Control Nav */
.flex-control-nav {width: 100%; position: absolute; bottom: -40px; text-align: center;}
.flex-control-nav li {margin: 0 6px; display: inline-block; zoom: 1; *display: inline;}
.flex-control-paging li a {width: 11px; height: 11px; display: block; background: #666; background: rgba(0,0,0,0.5); cursor: pointer; text-indent: -9999px; -webkit-border-radius: 20px; -moz-border-radius: 20px; -o-border-radius: 20px; border-radius: 20px; -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.3); -moz-box-shadow: inset 0 0 3px rgba(0,0,0,0.3); -o-box-shadow: inset 0 0 3px rgba(0,0,0,0.3); box-shadow: inset 0 0 3px rgba(0,0,0,0.3); }
.flex-control-paging li a:hover { background: #333; background: rgba(0,0,0,0.7); }
.flex-control-paging li a.flex-active { background: #000; background: rgba(0,0,0,0.9); cursor: default; }

.flex-control-thumbs {margin: 5px 0 0; position: static; overflow: hidden;}
.flex-control-thumbs li {width: 25%; float: left; margin: 0;}
.flex-control-thumbs img {width: 100%; display: block; opacity: .7; cursor: pointer;}
.flex-control-thumbs img:hover {opacity: 1;}
.flex-control-thumbs .flex-active {opacity: 1; cursor: default;}

@media screen and (max-width: 860px) {
  .flex-direction-nav .flex-prev { opacity: 1; left: 10px;}
  .flex-direction-nav .flex-next { opacity: 1; right: 10px;}
}
.about-us-content h3 {
  font-size: 36px;
  display: block;
  margin-bottom: 5px; }
  @media only screen and (max-width: 767px) {
    .about-us-content h3 {
      font-size: 24px; } }
.about-us-content .line {
  height: 3px;
  width: 70px;
  background-color: #fc6060;
  margin-bottom: 30px; }

.about-video-area {
  position: relative;
  z-index: 1;
  border-radius: 10px; }
  .about-video-area img {
    -webkit-box-shadow: 3px 0 24px rgba(0, 0, 0, 0.15);
    box-shadow: 3px 0 24px rgba(0, 0, 0, 0.15);
    width: 100%;
    border-radius: 10px; }
  .about-video-area .video-icon a {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 99;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: #ffffff;
    height: 50px;
    width: 50px;
    display: inline-block;
    background-color: #fc6060;
    text-align: center;
    line-height: 56px;
    font-size: 38px;
    border-radius: 50%; }
    .about-video-area .video-icon a::after {
      content: '';
      position: absolute;
      width: 0%;
      height: 0%;
      border-radius: 50%;
      background-color: transparent;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      border: 2px solid #fc6060;
      -webkit-animation: video-icon 1200ms linear infinite;
      animation: video-icon 1200ms linear infinite;
      z-index: -10; }
    .about-video-area .video-icon a:hover, .about-video-area .video-icon a:focus {
      background-color: #000000; }
      .about-video-area .video-icon a:hover::after, .about-video-area .video-icon a:focus::after {
        border: 2px solid #000000; }

@-webkit-keyframes video-icon {
  0% {
    width: 0;
    height: 0;
    opacity: 1; }
  50% {
    width: 100%;
    height: 100%;
    opacity: 1; }
  100% {
    width: 200%;
    height: 200%;
    opacity: 0; } }
@keyframes video-icon {
  0% {
    width: 0;
    height: 0;
    opacity: 1; }
  50% {
    width: 100%;
    height: 100%;
    opacity: 1; }
  100% {
    width: 200%;
    height: 200%;
    opacity: 0; } }
.why-choose-us-content {
  -webkit-transition-duration: 800ms;
  -o-transition-duration: 800ms;
  transition-duration: 800ms;
  background-color: #ffffff;
  padding: 80px 30px 50px;
  border-radius: 10px;
  box-shadow: 3px 0 15px -1px rgba(0, 0, 0, 0.15);
  position: relative;
  z-index: 1;
  margin-top: 50px; }
  .why-choose-us-content .chosse-us-icon {
    -webkit-transition-duration: 800ms;
    -o-transition-duration: 800ms;
    transition-duration: 800ms;
    height: 76px;
    width: 76px;
    background-color: #fc6060;
    display: inline-block;
    text-align: center;
    line-height: 76px;
    border-radius: 50%;
    color: #ffffff;
    font-size: 30px;
    position: absolute;
    top: -38px;
    left: 50%;
    margin-left: -38px; }
  .why-choose-us-content h4 {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 15px;
    -webkit-transition-duration: 800ms;
    -o-transition-duration: 800ms;
    transition-duration: 800ms; }
  .why-choose-us-content p {
    -webkit-transition-duration: 800ms;
    -o-transition-duration: 800ms;
    transition-duration: 800ms;
    font-size: 14px;
    margin-bottom: 0; }
  .why-choose-us-content:hover, .why-choose-us-content:focus {
    background-color: #fc6060; }
    .why-choose-us-content:hover .chosse-us-icon, .why-choose-us-content:focus .chosse-us-icon {
      background-color: #000000;
      box-shadow: 0 5px 15px 2px rgba(255, 255, 255, 0.15); }
    .why-choose-us-content:hover h4,
    .why-choose-us-content:hover p, .why-choose-us-content:focus h4,
    .why-choose-us-content:focus p {
      color: #ffffff; }

/* :: 12.0 Breadcrumb CSS */
.breadcrumb-area {
  position: relative;
  z-index: 1;
  height: 370px; }
  @media only screen and (max-width: 767px) {
    .breadcrumb-area {
      height: 240px; } }
  .breadcrumb-area .page-title {
    color: #ffffff;
    font-size: 36px; }
    @media only screen and (max-width: 767px) {
      .breadcrumb-area .page-title {
        font-size: 24px; } }

.breadcrumb-content {
  position: relative;
  z-index: 1;
  margin-top: 70px; }
  .breadcrumb-content .breadcrumb {
    padding: 0;
    background-color: transparent;
    margin-bottom: 0; }
    .breadcrumb-content .breadcrumb .breadcrumb-item {
      color: #fc6060;
      font-weight: 400;
      font-size: 16px; }
      .breadcrumb-content .breadcrumb .breadcrumb-item a {
        font-size: 16px;
        color: #ffffff;
        font-weight: 400; }
        .breadcrumb-content .breadcrumb .breadcrumb-item a:hover, .breadcrumb-content .breadcrumb .breadcrumb-item a:focus {
          color: #fc6060; }
    .breadcrumb-content .breadcrumb .breadcrumb-item + .breadcrumb-item::before {
      content: '\f105';
      color: #ffffff;
      font-family: "FontAwesome"; }

.breadcrumb-area.blog {
  height: 550px; }
  .breadcrumb-area.blog .breadcrumb-content .post-catagory {
    padding: 2px 15px;
    border-radius: 2px;
    font-size: 12px;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #fc6060;
    font-weight: 500;
    margin-bottom: 15px; }
    .breadcrumb-area.blog .breadcrumb-content .post-catagory:hover, .breadcrumb-area.blog .breadcrumb-content .post-catagory:focus {
      font-weight: 500;
      background-color: #000000; }
  .breadcrumb-area.blog .breadcrumb-content .page-title {
    display: block;
    font-size: 48px;
    margin-bottom: 20px; }
    @media only screen and (max-width: 767px) {
      .breadcrumb-area.blog .breadcrumb-content .page-title {
        font-size: 30px; } }
  .breadcrumb-area.blog .breadcrumb-content .post-meta {
    position: relative;
    z-index: 1;
    margin-bottom: 5px; }
    .breadcrumb-area.blog .breadcrumb-content .post-meta a {
      position: relative;
      z-index: 1;
      font-size: 16px;
      color: #ffffff;
      font-weight: 500;
      margin-right: 21px; }
      @media only screen and (max-width: 767px) {
        .breadcrumb-area.blog .breadcrumb-content .post-meta a {
          font-size: 13px; } }
      .breadcrumb-area.blog .breadcrumb-content .post-meta a::after {
        content: '|';
        position: absolute;
        top: 0;
        right: -11px;
        z-index: 1; }
      .breadcrumb-area.blog .breadcrumb-content .post-meta a:last-child::after {
        display: none; }
      .breadcrumb-area.blog .breadcrumb-content .post-meta a:hover, .breadcrumb-area.blog .breadcrumb-content .post-meta a:focus {
        color: #fc6060; }
        .breadcrumb-area.blog .breadcrumb-content .post-meta a:hover::after, .breadcrumb-area.blog .breadcrumb-content .post-meta a:focus::after {
          color: #ffffff; }

/* :: 13.0 Blog CSS */
.blog-details-text {
  position: relative;
  z-index: 1; }
  .blog-details-text .row {
    margin-right: -5px;
    margin-left: -5px; }
    .blog-details-text .row .col-12 {
      padding-right: 5px;
      padding-left: 5px; }
  .blog-details-text p {
    font-size: 18px;
    margin-bottom: 20px; }

.alime-blockquote {
  position: relative;
  z-index: 1;
  margin-bottom: 30px;
  margin-top: 30px;
  border-left: 3px solid #fc6060;
  padding-left: 30px; }
  .alime-blockquote h4 {
    margin-bottom: 15px;
    font-size: 24px;
    color: #161715;
    line-height: 1.5;
    font-weight: 400; }
    @media only screen and (max-width: 767px) {
      .alime-blockquote h4 {
        font-size: 18px; } }
  .alime-blockquote h6 {
    font-size: 18px;
    color: #fc6060;
    text-transform: uppercase;
    margin-bottom: 0; }
    @media only screen and (max-width: 767px) {
      .alime-blockquote h6 {
        font-size: 14px; } }

.post-author-area {
  position: relative;
  z-index: 1; }
  @media only screen and (max-width: 767px) {
    .post-author-area {
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; } }
  @media only screen and (max-width: 767px) {
    .post-author-area .popular-tags {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      max-width: 100%;
      width: 100%;
      margin-bottom: 30px; } }
  .post-author-area .popular-tags li {
    display: inline-block;
    /* float: left; */
    margin: 3px; }
  @media only screen and (max-width: 767px) {
    .post-author-area .post-social-info {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      max-width: 100%;
      width: 100%; } }
  .post-author-area .post-social-info p {
    margin-bottom: 0;
    margin-right: 20px;
    color: #252525; }
  .post-author-area .post-social-info a {
    display: inline-block;
    color: #625b66;
    margin-right: 20px;
    font-size: 14px; }
    .post-author-area .post-social-info a:last-child {
      margin-right: 0; }
    .post-author-area .post-social-info a:hover, .post-author-area .post-social-info a:focus {
      color: #fc6060; }

.alime-pager-area {
  position: relative;
  z-index: 1; }
  .alime-pager-area .previous,
  .alime-pager-area .next {
    width: 100%;
    position: relative;
    z-index: 1;
    height: 290px; }
    @media only screen and (max-width: 767px) {
      .alime-pager-area .previous,
      .alime-pager-area .next {
        height: 180px; } }
    .alime-pager-area .previous::after,
    .alime-pager-area .next::after {
      -webkit-transition-duration: 500ms;
      -o-transition-duration: 500ms;
      transition-duration: 500ms;
      width: 100%;
      height: 100%;
      position: absolute;
      z-index: 10;
      background-color: rgba(0, 0, 0, 0.7);
      top: 0;
      left: 0;
      content: '';
      opacity: 0;
      visibility: hidden; }
    .alime-pager-area .previous .overlay-content,
    .alime-pager-area .next .overlay-content {
      position: absolute;
      width: 70%;
      height: 100%;
      top: 0;
      left: 15%;
      text-align: center;
      z-index: 100; }
      .alime-pager-area .previous .overlay-content .post-title,
      .alime-pager-area .next .overlay-content .post-title {
        font-size: 24px;
        color: #ffffff;
        margin-bottom: 0; }
        @media only screen and (max-width: 767px) {
          .alime-pager-area .previous .overlay-content .post-title,
          .alime-pager-area .next .overlay-content .post-title {
            font-size: 14px; } }
        .alime-pager-area .previous .overlay-content .post-title:hover, .alime-pager-area .previous .overlay-content .post-title:focus,
        .alime-pager-area .next .overlay-content .post-title:hover,
        .alime-pager-area .next .overlay-content .post-title:focus {
          color: #fc6060; }
      .alime-pager-area .previous .overlay-content .previous-link,
      .alime-pager-area .previous .overlay-content .next-link,
      .alime-pager-area .next .overlay-content .previous-link,
      .alime-pager-area .next .overlay-content .next-link {
        -webkit-transition-duration: 500ms;
        -o-transition-duration: 500ms;
        transition-duration: 500ms;
        position: absolute;
        top: 50%;
        margin-top: -15px;
        left: -10%;
        width: 30px;
        height: 30px;
        line-height: 30px;
        font-size: 30px;
        color: #ffffff;
        z-index: 100;
        opacity: 0; }
        .alime-pager-area .previous .overlay-content .previous-link:hover, .alime-pager-area .previous .overlay-content .previous-link:focus,
        .alime-pager-area .previous .overlay-content .next-link:hover,
        .alime-pager-area .previous .overlay-content .next-link:focus,
        .alime-pager-area .next .overlay-content .previous-link:hover,
        .alime-pager-area .next .overlay-content .previous-link:focus,
        .alime-pager-area .next .overlay-content .next-link:hover,
        .alime-pager-area .next .overlay-content .next-link:focus {
          color: #fc6060; }
    .alime-pager-area .previous:hover::after, .alime-pager-area .previous:focus::after,
    .alime-pager-area .next:hover::after,
    .alime-pager-area .next:focus::after {
      opacity: 1;
      visibility: visible; }
    .alime-pager-area .previous:hover .previous-link,
    .alime-pager-area .previous:hover .next-link, .alime-pager-area .previous:focus .previous-link,
    .alime-pager-area .previous:focus .next-link,
    .alime-pager-area .next:hover .previous-link,
    .alime-pager-area .next:hover .next-link,
    .alime-pager-area .next:focus .previous-link,
    .alime-pager-area .next:focus .next-link {
      opacity: 1; }
  .alime-pager-area .next .overlay-content .next-link {
    left: auto;
    right: -10%; }

.pagination {
  position: relative;
  z-index: 1; }
  .pagination .page-item:last-child .page-link {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px; }
  .pagination .page-item:first-child .page-link {
    margin-left: 0;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px; }
  .pagination .page-link {
    padding: 12px 15px;
    color: #252525;
    border: none;
    background-color: #f7f7f7;
    margin-right: 5px;
    border-radius: 3px; }
    .pagination .page-link:hover, .pagination .page-link:focus {
      background-color: #fc6060;
      color: #ffffff;
      border-color: #fc6060; }
    .pagination .page-link:focus {
      box-shadow: none; }

.comment_area {
  position: relative;
  z-index: 1;
  padding-bottom: 20px;
  border-bottom: 1px solid #ebebeb; }
  .comment_area .single_comment_area {
    position: relative;
    z-index: 1; }
    .comment_area .single_comment_area::after {
      position: absolute;
      width: 1px;
      background-color: #ebebeb;
      height: 100%;
      content: '';
      top: 0;
      left: 90px;
      z-index: 1; }
      @media only screen and (max-width: 767px) {
        .comment_area .single_comment_area::after {
          left: 50px; } }
    .comment_area .single_comment_area .single_comment_area::after {
      display: none; }
  .comment_area .comment-content {
    position: relative;
    z-index: 1;
    margin-bottom: 40px; }
    .comment_area .comment-content .comment-author {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 70px;
      flex: 0 0 70px;
      width: 70px;
      max-width: 70px;
      margin-right: 40px;
      border-radius: 50%; }
      @media only screen and (max-width: 767px) {
        .comment_area .comment-content .comment-author {
          -webkit-box-flex: 0;
          -ms-flex: 0 0 40px;
          flex: 0 0 40px;
          width: 40px;
          max-width: 40px;
          margin-right: 20px; } }
      .comment_area .comment-content .comment-author img {
        border-radius: 50%; }
    .comment_area .comment-content .comment-meta .post-date {
      font-size: 12px;
      text-transform: uppercase;
      display: block;
      margin-bottom: 5px;
      font-weight: 300;
      color: #b2b2b2;
      letter-spacing: 1px; }
      .comment_area .comment-content .comment-meta .post-date:hover, .comment_area .comment-content .comment-meta .post-date:focus {
        color: #fc6060; }
    .comment_area .comment-content .comment-meta h5 {
      margin-bottom: 5px;
      font-size: 18px; }
      @media only screen and (max-width: 767px) {
        .comment_area .comment-content .comment-meta h5 {
          font-size: 16px; } }
    .comment_area .comment-content .comment-meta p {
      color: #636363;
      font-size: 14px; }
      @media only screen and (max-width: 767px) {
        .comment_area .comment-content .comment-meta p {
          font-size: 13px; } }
    .comment_area .comment-content .comment-meta .like,
    .comment_area .comment-content .comment-meta .reply {
      display: inline-block;
      padding: 5px 25px 5px;
      font-size: 12px;
      font-weight: 600;
      border: 1px solid #ebebeb;
      text-transform: uppercase;
      border-radius: 2px; }
      .comment_area .comment-content .comment-meta .like:focus, .comment_area .comment-content .comment-meta .like:hover,
      .comment_area .comment-content .comment-meta .reply:focus,
      .comment_area .comment-content .comment-meta .reply:hover {
        border-color: #fc6060;
        background-color: #fc6060;
        color: #ffffff; }
  .comment_area .children {
    margin-left: 120px; }
    @media only screen and (max-width: 767px) {
      .comment_area .children {
        margin-left: 60px; } }
    .comment_area .children .single_comment_area:last-of-type {
      margin-bottom: 0; }
    .comment_area .children .single_comment_area .comment-author {
      margin-right: 20px; }
      @media only screen and (max-width: 767px) {
        .comment_area .children .single_comment_area .comment-author {
          margin-right: 10px; } }

.alime-blog-area {
  position: relative;
  z-index: 1; }
  .alime-blog-area .row {
    margin-right: -5px;
    margin-left: -5px; }
    .alime-blog-area .row .col-12 {
      padding-right: 5px;
      padding-left: 5px; }

.single-post-area {
  position: relative;
  z-index: 1;
  margin-bottom: 10px;
  -webkit-transition-duration: 500ms;
  -o-transition-duration: 500ms;
  transition-duration: 500ms; }
  .single-post-area::after {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    content: '';
    z-index: 1; }
  .single-post-area .post-thumbnail {
    display: block;
    overflow: hidden; }
    .single-post-area .post-thumbnail img {
      width: 100%;
      -webkit-transition-duration: 800ms;
      -o-transition-duration: 800ms;
      transition-duration: 800ms; }
  .single-post-area .post-catagory {
    position: absolute;
    padding: 2px 15px;
    border-radius: 2px;
    font-size: 12px;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #fc6060;
    top: 15px;
    right: 15px;
    z-index: 20;
    font-weight: 500; }
    .single-post-area .post-catagory:hover, .single-post-area .post-catagory:focus {
      font-weight: 500;
      background-color: #000000; }
  .single-post-area .post-content {
    position: absolute;
    left: 30px;
    bottom: 30px;
    right: 30px;
    z-index: 100; }
    .single-post-area .post-content .post-meta {
      position: relative;
      z-index: 1;
      margin-bottom: 5px; }
      .single-post-area .post-content .post-meta a {
        position: relative;
        z-index: 1;
        font-size: 13px;
        color: #ffffff;
        font-weight: 300;
        margin-right: 21px; }
        .single-post-area .post-content .post-meta a:last-child::after {
          content: '|';
          position: absolute;
          top: 0;
          left: -11px;
          z-index: 1; }
        .single-post-area .post-content .post-meta a:hover, .single-post-area .post-content .post-meta a:focus {
          color: #fc6060; }
          .single-post-area .post-content .post-meta a:hover::after, .single-post-area .post-content .post-meta a:focus::after {
            color: #ffffff; }
    .single-post-area .post-content .post-title {
      font-size: 20px;
      color: #ffffff;
      margin-bottom: 0; }
      @media only screen and (min-width: 992px) and (max-width: 1199px) {
        .single-post-area .post-content .post-title {
          font-size: 16px; } }
      .single-post-area .post-content .post-title:hover, .single-post-area .post-content .post-title:focus {
        color: #fc6060; }
  .single-post-area:hover .post-thumbnail img, .single-post-area:focus .post-thumbnail img {
    -webkit-transform: scale(1.4) rotate(10deg);
    -ms-transform: scale(1.4) rotate(10deg);
    transform: scale(1.4) rotate(10deg); }

.related-news-area {
  position: relative;
  z-index: 1; }
  .related-news-area .row {
    margin-right: -5px;
    margin-left: -5px; }
    .related-news-area .row .col-12 {
      padding-right: 5px;
      padding-left: 5px; }

/* :: 14.0 Team CSS */
.team-content-area {
  position: relative;
  z-index: 1;
  padding: 40px;
  -webkit-box-shadow: 0 4px 20px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0 4px 20px 3px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  text-align: center;
  -webkit-transition-duration: 500ms;
  -o-transition-duration: 500ms;
  transition-duration: 500ms;
  background-color: #ffffff; }
  .team-content-area .member-thumb {
    margin: 0 auto 40px;
    width: 165px; }
    .team-content-area .member-thumb img {
      -webkit-transition-duration: 500ms;
      -o-transition-duration: 500ms;
      transition-duration: 500ms;
      width: 100%;
      border-radius: 50%; }
  .team-content-area h5 {
    -webkit-transition-duration: 500ms;
    -o-transition-duration: 500ms;
    transition-duration: 500ms;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 0; }
  .team-content-area span {
    -webkit-transition-duration: 500ms;
    -o-transition-duration: 500ms;
    transition-duration: 500ms;
    color: #fc6060;
    font-size: 12px;
    text-transform: uppercase; }
  .team-content-area .member-social-info {
    position: relative;
    z-index: 1;
    margin-top: 30px; }
    .team-content-area .member-social-info a {
      color: #636363;
      font-size: 16px;
      margin: 0 10px;
      -webkit-transition-duration: 500ms;
      -o-transition-duration: 500ms;
      transition-duration: 500ms; }
      .team-content-area .member-social-info a:hover, .team-content-area .member-social-info a:focus {
        color: #fc6060; }
  .team-content-area:hover, .team-content-area:focus {
    background-color: #fc6060; }
    .team-content-area:hover .member-thumb img, .team-content-area:focus .member-thumb img {
      -webkit-transform: rotate(25deg);
      -ms-transform: rotate(25deg);
      transform: rotate(25deg); }
    .team-content-area:hover h5,
    .team-content-area:hover span, .team-content-area:focus h5,
    .team-content-area:focus span {
      color: #ffffff; }
    .team-content-area:hover .member-social-info a, .team-content-area:focus .member-social-info a {
      color: #ffffff; }
      .team-content-area:hover .member-social-info a:hover, .team-content-area:hover .member-social-info a:focus, .team-content-area:focus .member-social-info a:hover, .team-content-area:focus .member-social-info a:focus {
        color: #000000; }