<head>
  <!-- Google Font -->
  <link href="https://fonts.googleapis.com/css?family=Quantico:400,700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap" rel="stylesheet">

  <!-- Css Styles -->
  <link rel="stylesheet" href="../header/header.component.css" type="text/css">
</head>

<body>
  <!-- Header Section Begin -->
  <header class="header-section">
      <div class="container-fluid">
          <div class="row">
              <div class="col-lg-12" style="background-color:#282d32;">
                  <div class="logo">
                      <a><img style="margin-top: 0px; height: 100px; padding-left: 90px;" src="../../../assets/Logo/logo.png" alt=""></a>
                  </div>
                  <nav class="nav-menu mobile-menu" style="margin-left: 100px;">
                      <ul>
                          <li class="active">
                            <a class="nav-link" routerLink="/about" style="color:white;">Home <span class="sr-only">(current)</span></a>
                          </li>
                          <li>
                            <a class="nav-link" routerLink="/home" style="color:white;">About</a>
                          </li>
                          <li class="">
                            <a class="nav-link" routerLink="/contactus" style="color:white;">Contact Us</a>
                          </li>
                          <li class="">
                            <a class="nav-link" routerLink="/signin" style="color:white;">Login</a>
                          </li>
                          <li class="">
                            <a class="nav-link" (click)="onclicklogout()" style="color:red;">Logout</a>
                          </li>
                          <!-- <li class="nav-item active">
                            <button class="nav-link" (click)="onclicklogout()">Log Out</button>
                          </li> -->
    
                      </ul>
                  </nav>
                  <div id="mobile-menu-wrap"></div>
              </div>
          </div>
      </div>
  </header>
  <!-- Header End -->

  <!-- Js Plugins -->
  <script src="js/jquery-3.3.1.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/jquery.magnific-popup.min.js"></script>
  <script src="js/isotope.pkgd.min.js"></script>
  <script src="js/masonry.pkgd.min.js"></script>
  <script src="js/jquery.slicknav.js"></script>
  <script src="js/owl.carousel.min.js"></script>
  <script src="js/main.js"></script>
</body>