<!-- <section>Footer Example 4</section> -->
<footer style="margin-top: 30px;" class="footer-distributed">

			<div class="footer-left">

				<h3>Plates of flavor</h3>

				<p class="footer-links">
					<a routerLink="/about" class="link-1">Home</a>
					
					<!-- <a href="#">Blog</a> -->
				
					<!-- <a href="#">Pricing</a> -->
				
					<a routerLink="/home">About</a>
					
					<!-- <a href="#">Faq</a> -->
					
					<a routerLink="/contactus">Contact us</a>
				</p>

				<p class="footer-company-name">Plates of flavor © 2020</p>
			</div>

			<div class="footer-center">

				<div>
					<i class="fa fa-map-marker"></i>
					<p>Kolkata,Westbengal</p>
				</div> 

				<div>
					<i class="fa fa-phone"></i>
					<p>+91 9830866034</p>
				</div>

				<div>
					<i class="fa fa-envelope"></i>
					<p><a href="mailto:support@company.com">platesofflavor@gmail.com</a></p>
				</div>

			</div>

			<div class="footer-right">

				<p class="footer-company-about">
					<span>About</span>
					<b>“A recipe has no soul. You, as the cook, must bring soul to the recipe.”</b>
				</p>

				<div class="footer-icons">

          <a class="fb-ic">
            <i class="fa fa-facebook" aria-hidden="true"></i>
          </a>
					<a href="#"><i class="fa fa-twitter"></i></a>
					<a href="#"><i class="fa fa-instagram"></i></a>
					<!-- <a href="#"><i class="fa fa-github"></i></a> -->

				</div>

			</div>

		</footer>